* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3A3A3A;
    font-size: 15px;
}
a {
    font-weight: 500;
    color: #3A3A3A;
}
.main-container {
    width: 85%;
}
.flex-area {
    display: flex;
}
.single-flex-area {
    flex: 1;
}

/* 
Start Header CSS
*/
.header {
    display: flex;
    justify-content: center;
    padding: 45px 0;
}
.header .flex-area {
    justify-content: space-between;
    align-items: center;
}
.mobile-icon {
    display: none;
}
.mobile-icon i {
    font-size: 20px;
}
.logo a {
    text-decoration: none;
}
.logo a h1 {
    font-size: 24px;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.menu ul li {
    list-style: none;
}
.menu ul li a {
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
}
/* 
End Header CSS
*/

/* 
Start Main Contect CSS
*/
.main-content {
    display: flex;
    justify-content: center;
}

/* Hero CSS */
.hero {
    padding-top: 55px;
    padding-bottom: 100px;
}
.hero .flex-area {
    align-items: center;
}
.hero-text {
    margin-right: 10%;
}
.hero-text h2 {
    font-size: 48px;
    margin-bottom: 15px;
}
.hero-text a {
    display: inline-block;
    background: #E02C6D;
    color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    margin-top: 25px;
    text-decoration: none;
}
.hero-text a i {
    margin-left: 5px;
    position: relative;
    transition: .3s;
}
.hero-image {
    display: flex;
    justify-content: flex-end;
}
.hero-text a:hover i {
    margin-left: 15px;
}
.hero-image img {
    width: 550px;
    max-width: 100%;
    height: auto;
}

/* partner CSS */
.partner {
    padding: 25px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.partner .flex-area {
    align-items: center;
    flex-wrap: wrap;
}
.partner .single-flex-area {
    text-align: center;
    padding: 15px;
}


/* 
End Main Contect CSS
*/


/* 
Start Footer CSS
*/
.footer {
    padding: 45px 0;
    background: #0A0826;
    text-align: center;
    color: #fff;
}
.footer-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-icon {
    margin-top: 10px;
}
.footer-icon ul {
    margin: 0;
    padding: 0;
}
.footer-icon ul li {
    list-style: none;
    display: inline-block;
}
.footer-icon ul li a {
    padding: 5px 8px;
    font-size: 18px;
    color: #fff;
}
/* 
End Footer CSS
*/


/* 
Start Responsive CSS
*/
@media screen and (max-width: 768px) {
    /*
    Start Responsive Header CSS
    */
    .mobile-icon {
        display: block;
    }
    .menu {
        display: none;
    }
    /*
    Start Responsive Header CSS
    */

    /* 
    Start Responsive Main Contect CSS
    */
    .hero .flex-area {
        flex-direction: column;
    }
    .hero .flex-area .single-flex-area {
        order: 2;
    }
    .hero .flex-area .single-flex-area.order-area {
        order: 1;
    }
    .hero-text {
        margin-right: 0;
        text-align: center;
        margin-top: 50px;
    }
    .hero-text h2 {
        font-size: 28px;
    }
    /* 
    Start Responsive Main Contect CSS
    */
    
}
/* 
End Responsive CSS
*/